
body{
    background-color: rgb(225, 225, 225);
    font-family: "Ablation",Arial, Helvetica, sans-serif;
}

p{
    color: white;
    font-size: 1.1em;
    font-family: "GlacialIndifference";
}

span{
    font-size: 1em;
    color: white;
    font-family: "GlacialIndifference";
}

h1{
    color: red;
    font-size: 2em;
}

h2{
    color: red;
    font-size: 1.7em;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

h3{
    color: white;
    font-size: 1.4em;
}

h4{
    font-size: 0.63em;
    color: white;
    font-family: "GlacialIndifference";
}