
body{
    background-color: rgb(225, 225, 225);
    font-family: "Ablation",Arial, Helvetica, sans-serif;
}

p{
    font-size: 1em;
    font-family: "GlacialIndifference";
}

span{
    font-size: 1em;
    color: white;
    font-family: "GlacialIndifference";
}

h3{
    font-size: 1.7em;
    color: red;
    font-family: "Ablation";
    letter-spacing: 2px;
    margin-bottom: 5px;
}

h4{
    font-size: 0.63em;
    color: white;
    font-family: "GlacialIndifference";
}