
body{
    background-color: rgb(225, 225, 225);
    font-family: "Ablation",Arial, Helvetica, sans-serif;
}

p{
    font-size: 1em;
    font-family: "GlacialIndifference";
}

span{
    font-size: 1em;
    color: white;
    font-family: "GlacialIndifference";
}

h3{
    font-size: 1.7em;
    color: red;
    font-family: "Ablation";
    margin-top: 10px;
}

h4{
    font-size: 0.7em;
    color: white;
    font-family: "GlacialIndifference";
}