@charset "UTF-8";

@font-face {
    font-family: "GlacialIndifference";
    src: url("./../fonts/GlacialIndifference-Regular.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ablation";
    src: url("./../fonts/Ablation_PersonalUse.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

header{
    background-image: url(./../assets/Empresa-2.jpg);
    background-position: center bottom;
    background-size: cover;
    min-height: 95vh;
    margin-bottom: 50px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.blackFilter{
    background-color: rgba(0, 0, 0, 0.536);
}

.header_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 563px;
    padding: 20px 50px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.navBar ul li{
    width: 25px;
    height: 25px;
}

.navBar ul li:hover{
    background-color: red;
    border-radius: 20px;
    padding: 5px;
    margin: -5px;
    width: 35px;
    height: 35px;
}

.logos{
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------------------------*/

main{
    color: black;
}

.orcamento{
    background-color: rgb(39, 39, 39);
    color: white;
}

.orcamento_img{
    width: 450px;
    border: 2px solid white;
    border-radius: 15px;
}

.conhecimento{
    background-color: rgb(131, 0, 0);
    color: white;
    padding: 50px 0px;
}

.divida{
    background-color: white;
    padding: 50px 0px;
}

.planejamento{
    padding: 50px 0px;
}

/*-----------------------------------------------------------------*/

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    padding: 15px;
}
