
@font-face {
    font-family: "GlacialIndifference";
    src: url("./../fonts/GlacialIndifference-Regular.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ablation";
    src: url("./../fonts/Ablation_PersonalUse.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

#header_container{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
}
